*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px   ;
    margin-top: 40px;
    padding: 30px 0;
}
.cont{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;    
    width: 440px;
}   
.buttons button{
    font-size: 30px;
    /* background: white; */
    border: 1px solid gray;
    padding: 8px 15px;
}
.cont .inputArea input{
    font-size: 30px;
    height: 100px;
    width: 440px;   
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.inputArea{
    height: 150px;
}
.inputArea p{
    font-size: 25px;
    margin: 6px 0 6px 0
}
.active{
    color: white;
    background: #833AE0;
}